
<div class="table">
	<div class="row">
		<div class="cell width90">
<input id="searchmyfriend" type="text" class="form-control fnf-field searchBar" placeholder="name or email" onkeyup="search('searchmyfriend')" style="margin-bottom:0px;"
		></div>
		<div class="cell">
		<button style="border-radius:0px;">Search</button>
		</div>
	</div>
</div>

<div id="searchResults" class="friendBox full">
	<div class="friendBoxTop center">Search Results</div>
	<div id="searchmyfriendadd" class="addBox table">
		
		<div id="searchmyfriendappend" class="full" style="max-height:193px;overflow:scroll;">

		</div>
	</div>
	<div id="searchmyfriendlabel" class="friendBoxLabel">Please type something in the search box.</div>
</div>

<div id="myfriends" class="friendBox full">
	<div class="friendBoxTop center">My Friends</div>
	<div id="myfriendslabel" class="friendBoxLabel">You have no friends :(</div>
	<div class="addBox table full">
		<div id="myfriendslist" class="full">

		</div>
	</div>
</div>