<div id="homeScreen" class="screen">
	<div id="loginSection" class="fnf-back1 shaded2" style="padding-bottom:40px;">
		<div class="table">
			<div class="row">
				<div class="cell center">
			<img src="images/logo.png" class="logo"></img>

			<br>
			<input id="email" type="email" class="form-control fnf-field top20" placeholder="email"
			><br
			><input id="password" type="password" class="fnf-field" placeholder="password"
			><br class="signupfield hidden"
			><input id="cpassword" type="password" class="fnf-field hidden signupfield" placeholder="confirm password"
			><br class="signupfield hidden"
			><input id="name" type="text" class="fnf-field hidden signupfield" placeholder="your name">
			<div class="table width90 offset5 top20">
			<div class="row">
				<div class="cell width45">
					<button id="button2" class="fnf-second-button full" onclick="signup()">Sign up</button>
				</div>
				<div class="cell width10">

				</div>
				<div class="cell width45">
					<button id="button1" class="fnf-button full" onclick="login()">Log in</button>
				</div>
			</div>
		    </div>
			    </div>
			</div>
		</div>
	</div>

	<h3 class="offset5 top20" style="color:#1988D9;">Our app:</h3>

	<div class="table width90 offset5">
		<div class="row">
			<div class="cell center">
				<img src="images/friendslogo.png" class="width80"></img>
			</div>
			<div class="cell center">
				<img src="http://kesypsy.web.auth.gr/images/icons/calendar-icon.png" class="width80"></img>
			</div>
			<div class="cell center">
				<img src="images/locationlogo.png" class="width80"></img>
			</div>
		</div>
		<div class="row" style="height:20px;">
			<div class="cell center"></div><div class="cell center"></div><div class="cell center"></div>
		</div>
		<div class="row">
			<div class="cell center width33" style="color:#1988D9;">
	Helps you find friends to eat with
			</div>
			<div class="cell  center width33" style="color:#E6642D;">
	Decides where to eat based on everyone’s preferences
			</div>
			<div class="cell  center width33" style="color:#61AE24;">
	Reminds you in advance before a meetup
			</div>
		</div>

	</div>

	<div class="full fnf-back1" style="padding-top:5px;padding-bottom:20px;margin-top:20px;">
		<h3 class="offset5 top20" style="color:#00A1CB;">How to use FRIENDSnFOOD:</h3>

		<div class="table width90 offset5 top20">
		<div class="row">
			<div class="cell">
				<div class="numberLabel center middle"><div style="padding-top:10px;">1</div></div>
			</div>
			<div class="cell splashLabel" class="middle">
				Add your friends.
			</div>
		</div>
		<div class="row" style="height:25px;"></div>
		<div class="row">
			<div class="cell">
				<div class="numberLabel center middle"><div style="padding-top:10px;">2</div></div>
			</div>
			<div class="cell splashLabel" class="middle">
				  Choose the places you’re down to eat at on campus.
			</div>
		</div>
		<div class="row" style="height:10px;"></div>
		<div class="row">
			<div class="cell">
				<div class="numberLabel center middle"><div style="padding-top:10px;">3</div></div>
			</div>
			<div class="cell splashLabel" class="middle">
				 Tap the times you’re free to have a meetup on your calendar.
			</div>
		</div>
		<div class="row" style="height:10px;"></div>
		<div class="row">
			<div class="cell">
				<div class="numberLabel center middle"><div style="padding-top:10px;">4</div></div>
			</div>
			<div class="cell splashLabel" class="middle">
				 We will notify you two days in advanced when we match you with 1 to 3 other people to grab food with.
			</div>
		</div>
	    </div>

    </div>

</div>