<div id="mainScreen" class="screen hidden">

<div class="pageBar red table">
<div class="row">
<div class="cell clickable" style="width:10%">
<span style="margin-left:5px;" class="hidden" onclick="skip(3)">Back</span>
</div>
<div id="mTitle" class="cell center" style="width:80%">
Recent
</div>
<div class="cell" style="width:10%">
FnF
</div>
</div>
</div>

<div id="mainArea" class="fnf-back1"> 

<div id="view1" >
{{> recent}}
</div>

<div id="view2" class="hidden">
{{> calendar}}

 
</div>

<div id="view3" class="hidden">
{{> friends}}
</div>

<div id="view4" class="hidden">

{{> settings}}

</div>

</div>


<div class="table full navBar clickable" style="margin-top:10px">
 <div class="row">
 	<div class="cell nav1 active" onclick="swap(1)">
 		<img class="navIcon" src="images/recentnav.png">
 	</div>
 	<div class="cell nav2" onclick="swap(2)">
 		<img class="navIcon" src="images/calendarnav.png">
 	</div>
 	<div class="cell nav3" onclick="swap(3)">
 		<img class="navIcon" src="images/friendslogo.png">
 	</div>
 	<div class="cell nav4" onclick="swap(4)">
 		<img class="navIcon" src="images/settingsnav.png">
 	</div>
 </div>
 <div class="row">
 	<div class="cell nav1 active" onclick="swap(1)">
 		RECENT
 	</div>
 	<div class="cell nav2" onclick="swap(2)">
 		CALENDAR
 	</div>
 	<div class="cell nav3" onclick="swap(3)">
 		FRIENDS
 	</div>
 	<div class="cell nav4" onclick="swap(4)">
 		SETTINGS
 	</div>
 </div>
</div>

</div>