
<button class="width90 offset5 top20" onclick="profileSettings()">Profile Settings</button>

<button class="width90 offset5 " onclick="diningLocations()">Dining Location Preferences</button>

<button class="width90 offset5 " onclick="defaultWeeklyCalendar()">Default Weekly Calendar</button>

<a href="/logout"><button class="width90 offset5 ">Log out</button></a>