<div id="step4Screen" class="screen hidden">

<div class="pageBar table">
<div class="row">
<div class="cell clickable" style="width:10%">
<span style="margin-left:5px;" onclick="skip(3)">Back</span>
</div>
<div class="cell center" style="width:80%">
<span style="color:#CCFFCC;">Step 4:</span> When are you free to eat?
</div>
<div class="cell" style="width:10%">
&nbsp;
</div>
</div>
</div>

<div class="fnf-back1">

<table class="mcal full center" style="text-align:center;font-size:small">
 <tr>
  <th>BACK</th>
  <th>FRI<br>19</th>
  <th>SAT<br>20</th>
  <th>SUN<br>21</th>
  <th>NEXT</th>
 </tr>

 {{#each caltimes}}
 <tr>
  <td>{{this}}AM</td>
  <td class="lockedCell"></td>
  <td class="lockedCell"></td>
  <td></td>
  <td></td>
 </tr><tr>
 <td></td>
  <td class="lockedCell"></td>
  <td class="lockedCell"></td>
  
  <td></td>
  <td></td>
 </tr>
 {{/each}}
  {{#each caltimes2}}
 <tr>
  <td>{{this}}AM</td>
  <td class="lockedCell"></td>
  <td class="lockedCell"></td>
  <td></td>
  <td></td>
  </tr><tr>
  <td></td>
  <td class="lockedCell"></td>
  <td class="lockedCell"></td>
  
  <td></td>
  <td></td>
 </tr>
 {{/each}}
</table>




	<div class="underBar">
		<div class="row">
			<div class="cell clickable" style="width:10%">
			<span style="margin-left:5px;"><button class="fnf-second-button" onclick="skip(5)">skip</button></span>
			</div>
			<div class="cell center" style="width:80%">

				<div class="bullet"></div>
				<div class="bullet"></div>
				<div class="bullet"></div>
				<div class="filledBullet bullet"></div>

			</div>
			<div class="cell" style="width:10%">
				<button class="fnf-button" style="margin-right:4px;" onclick="skip(5)">finish</button>
			</div>
			</div>
		</div>

	</div>
</div>