<div id="step5Screen" class="screen hidden">

<div class="pageBar table">
<div class="row">
<div class="cell clickable" style="width:10%">
<span style="margin-left:5px;" class="hidden" onclick="skip(3)">Back</span>
</div>
<div class="cell center" style="width:80%">
Welcome to FRIENDSnFOOD!
</div>
<div class="cell" style="width:10%">
&nbsp;
</div>
</div>
</div>

<div class="fnf-back1"> 
<div class="offset5 width90" style="padding-top:10px;">
	<p>We will notify you at 10 pm two days before each of your available times via email if we found people for you to grab food with.</p>

	<p>Awesome conversations awaits!</p>
</div>


	<div class="underBar">
		<div class="row">
			<div class="cell clickable" style="width:10%">
			<span style="margin-left:5px;"><button class="fnf-second-button hidden" onclick="skip(5)">skip</button></span>
			</div>
			<div class="cell center" style="width:80%">

				
			</div>
			<div class="cell" style="width:10%">
				<button class="fnf-button" style="margin-right:4px;" onclick="mains()">Okay</button>
			</div>
			</div>
		</div>

	</div>
</div>