<div id="step3Screen" class="screen hidden">

<div class="pageBar table">
<div class="row">
<div class="cell clickable" style="width:10%">
<span style="margin-left:5px;" onclick="skip(2)">Back</span>
</div>
<div class="cell center" style="width:80%">
<span style="color:#CCFFCC;">Step 3:</span> Add friends
</div>
<div class="cell" style="width:10%">
&nbsp;
</div>
</div>
</div>

<div class="fnf-back1">

	<div class="table">
		<div class="row">
			<div class="cell width90">
	<input id="searchfriend" type="text" class="form-control fnf-field top20 searchBar" placeholder="name or email" onkeyup="search('searchfriend')"
			></div>
			<div class="cell">
			<button style="border-radius:0px;">Search</button>
			</div>
		</div>
	</div>

	<div id="searchResults" class="friendBox full">
		<div class="friendBoxTop center">Search Results</div>
		<div id="searchfriendadd" class="addBox table">
			<div id="addTemplate" class="full hidden">
			<div class="addRow row">
				<div class="cell middle" style="width:60px;"><img class="addImg" src="http://i.imgur.com/OUWM8te.jpg"></div>
				<div class="cell"><div class="addName clickable">Hoa Mai</div></div>
				<div class="cell" style="width:10%"><button class="addButton">+ ADD</button></div>
			</div>
			</div>
			<div id="searchfriendappend" class="full">

			</div>
		</div>
		<div id="searchfriendlabel" class="friendBoxLabel">Please type something in the search box.</div>
	</div>

	<div id="recentlyAdded" class="friendBox full">
		<div class="friendBoxTop center">Recently Added</div>
		<div id="recentaddedlabel" class="friendBoxLabel">No recently added friend.</div>
		<div class="addBox table full">
			<div id="recentadded" class="full">

			</div>
		</div>
	</div>


	<div class="underBar">
		<div class="row">
			<div class="cell clickable" style="width:10%">
			<span style="margin-left:5px;"><button class="fnf-second-button" onclick="skip(4)">skip</button></span>
			</div>
			<div class="cell center" style="width:80%">

				<div class="bullet"></div>
				<div class="bullet"></div>
				<div class="filledBullet bullet"></div>
				<div class=" bullet"></div>

			</div>
			<div class="cell" style="width:10%">
				<button class="fnf-button" style="margin-right:4px;" onclick="skip(4)">continue</button>
			</div>
			</div>
		</div>

	</div>
</div>