<!doctype html>

<html>
<head>
	<title>Instatask</title>	
	{{> headers}}
</head>

<body>
    <div class="container">

		<h1>Instastart</h1>
		<div class = "form">
		<h4>Add a new task</h4>
		<form action="add" method="post">
		  <input name="title" type="text" placeholder="Task"></input><br>
          <input name="category" type="text" placeholder="category"></input><br>
          <input name="location" type="text" placeholder="location"></input><br>
          
          <div class = "twelve columns">
          <input name="duration" type="number" step="0.01" placeholder="duration (Hours)"></input> <span class = "hrs"></span><br>
          </div>

          <h4>Difficulty:</h4>
		  <input type="radio" name="diff" value="easy"> Easy<br>
		  <input type="radio" name="diff" value="medium" checked> Medium<br>
		  <input type="radio" name="diff" value="hard"> Hard

		  <br><br>
          <input type="submit" value="Add Task" class="button-primary" />
    	</form>

    	<a href="/"><button class = "button-primary cancel">Cancel</button></a>
    	</div>
	</div>
</body>
</html>
