<!doctype html>

<html>
<head>
	<title>Instatask</title>	
	{{> headers}}       
</head>

<body>
    <div class="container">

		<h1>FRIENDSnFOOD</h1>
		<div class = "form">
		<h4>Add a new task</h4>
		
		<div id="calendar" class="calendar" style="width:300px;height:500px;background-color:red;">
			<table class="headerTable">
				<tr>
					<th class="headerCalendar">
						Mon
					</th>
					<th class="headerCalendar">
						Tue
					</th>
					<th class="headerCalendar">
						Wed
					</th>
					<th class="headerCalendar">
						Thu
					</th>
					<th class="headerCalendar">
						Fri
					</th>
					<th class="headerCalendar">
						Sat
					</th>
					<th class="headerCalendar">
						Sun
					</th>
				</tr>
			</table>

			<div>
				<table>
				<tr>
					<td class="headerCalendar">
						Mon
					</td>
					<td class="headerCalendar">
						Tue
					</td>
					<td class="headerCalendar">
						Wed
					</td>
					<td class="headerCalendar">
						Thu
					</td>
					<td class="headerCalendar">
						Fri
					</td>
					<td class="headerCalendar">
						Sat
					</td>
					<td class="headerCalendar">
						Sun
					</td>
				</tr>

				<tr>
					<td class="headerCalendar">
						Mon
					</td>
					<td class="headerCalendar">
						Tue
					</td>
					<td class="headerCalendar">
						Wed
					</td>
					<td class="headerCalendar">
						Thu
					</td>
					<td class="headerCalendar">
						Fri
					</td>
					<td class="headerCalendar">
						Sat
					</td>
					<td class="headerCalendar">
						Sun
					</td>
				</tr>

				<tr>
					<td class="headerCalendar">
						Mon
					</td>
					<td class="headerCalendar">
						Tue
					</td>
					<td class="headerCalendar">
						Wed
					</td>
					<td class="headerCalendar">
						Thu
					</td>
					<td class="headerCalendar">
						Fri
					</td>
					<td class="headerCalendar">
						Sat
					</td>
					<td class="headerCalendar">
						Sun
					</td>
				</tr>

				<tr>
					<td class="headerCalendar">
						Mon
					</td>
					<td class="headerCalendar">
						Tue
					</td>
					<td class="headerCalendar">
						Wed
					</td>
					<td class="headerCalendar">
						Thu
					</td>
					<td class="headerCalendar">
						Fri
					</td>
					<td class="headerCalendar">
						Sat
					</td>
					<td class="headerCalendar">
						Sun
					</td>
				</tr>

				<tr>
					<td class="headerCalendar">
						Mon
					</td>
					<td class="headerCalendar">
						Tue
					</td>
					<td class="headerCalendar">
						Wed
					</td>
					<td class="headerCalendar">
						Thu
					</td>
					<td class="headerCalendar">
						Fri
					</td>
					<td class="headerCalendar">
						Sat
					</td>
					<td class="headerCalendar">
						Sun
					</td>
				</tr>

				<tr>
					<td class="headerCalendar">
						Mon
					</td>
					<td class="headerCalendar">
						Tue
					</td>
					<td class="headerCalendar">
						Wed
					</td>
					<td class="headerCalendar">
						Thu
					</td>
					<td class="headerCalendar">
						Fri
					</td>
					<td class="headerCalendar">
						Sat
					</td>
					<td class="headerCalendar">
						Sun
					</td>
				</tr>

				<tr>
					<td class="headerCalendar">
						Mon
					</td>
					<td class="headerCalendar">
						Tue
					</td>
					<td class="headerCalendar">
						Wed
					</td>
					<td class="headerCalendar">
						Thu
					</td>
					<td class="headerCalendar">
						Fri
					</td>
					<td class="headerCalendar">
						Sat
					</td>
					<td class="headerCalendar">
						Sun
					</td>
				</tr>

				<tr>
					<td class="headerCalendar">
						Mon
					</td>
					<td class="headerCalendar">
						Tue
					</td>
					<td class="headerCalendar">
						Wed
					</td>
					<td class="headerCalendar">
						Thu
					</td>
					<td class="headerCalendar">
						Fri
					</td>
					<td class="headerCalendar">
						Sat
					</td>
					<td class="headerCalendar">
						Sun
					</td>
				</tr>

				<tr>
					<td class="headerCalendar">
						Mon
					</td>
					<td class="headerCalendar">
						Tue
					</td>
					<td class="headerCalendar">
						Wed
					</td>
					<td class="headerCalendar">
						Thu
					</td>
					<td class="headerCalendar">
						Fri
					</td>
					<td class="headerCalendar">
						Sat
					</td>
					<td class="headerCalendar">
						Sun
					</td>
				</tr>

				<tr>
					<td class="headerCalendar">
						Mon
					</td>
					<td class="headerCalendar">
						Tue
					</td>
					<td class="headerCalendar">
						Wed
					</td>
					<td class="headerCalendar">
						Thu
					</td>
					<td class="headerCalendar">
						Fri
					</td>
					<td class="headerCalendar">
						Sat
					</td>
					<td class="headerCalendar">
						Sun
					</td>
				</tr>

				<tr>
					<td class="headerCalendar">
						Mon
					</td>
					<td class="headerCalendar">
						Tue
					</td>
					<td class="headerCalendar">
						Wed
					</td>
					<td class="headerCalendar">
						Thu
					</td>
					<td class="headerCalendar">
						Fri
					</td>
					<td class="headerCalendar">
						Sat
					</td>
					<td class="headerCalendar">
						Sun
					</td>
				</tr>
			</table>
			</div>
			
    	
    	</div>


    	<script>var cal = new Calendar("calendar", 1);</script>
	</div>
</body>
</html>
