<!doctype html>

<html>
<head>
	<title>FRIENDSnFOOD</title>	
	{{> headers}}
</head>

<body>

<div class="containerFluid">

{{> homescreen}}

{{> step1screen}}

{{> step2screen}}

{{> step3screen}}

{{> step4screen}}

{{> step5screen}}

{{> mainscreen}}
</div>

<script>
{{#if loggedin}}
mains()
{{else}}

{{/if}}
</script>

</body>
</html>
