<!doctype html>

<html>
<head>
	<title>FRIENDSnFOOD</title>	
	{{> headers}}
</head>

<body>
  <div class="container">
		<div class = "row">
			<h1>FRIENDSnFOOD</h1>
		</div>

        {{#if error}}
        <div class = "error">{{ error }}</div>
        {{/if}}

      <div class = "row form">
				<form method="post" action="login">
				  <div class = "twelve columns ">
		          	<input type="text" name="email" placeholder="email"></input>
		      	  </div>
		      	  <div class = "twelve columns">
		          	<input type="password" name="pass" placeholder="password"></input>
		          </div>
		          <input class="button-primary" type="submit" value="Login" />
				</form>
			</div>

		<div class = "row">
			<div class = "twelve columns">
				<h5 class = "center">Don't have an account?</h5>
				<div class = "align">
					<a href="/signup"><button class="button-primary">Signup</button></a>
				</div>
			</div>	
		</div>
	</div>
</body>
</html>
