<!doctype html>

<html>
<head>
	<title>FRIENDSnFOOD</title>	
	{{> headers}}
</head>

<body>
   
	<div class="container">
		<img src="images/logo.png" class="logo offset5"></img>

		<br><br>
		<h4 class="center">You have successfully logged out!</h4>
		<h5 class="center">Do you want to log back in?</h5>

		<div class = "align">
			<a href="/"><button class="button-primary">Login</button></a>
		</div>
	</div>
</body>
</html>
