<!doctype html>

<html>
<head>
	<title>Instatask</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/normalize.css" rel="stylesheet">
	<link href="css/skeleton.css" rel="stylesheet">
	<link href="css/logout.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>      
</head>

<body>
   
	<div class="container">
		<h1>Instastart</h1>

		<h4>You have successfully logged out!</h4>

		<h5>Do you want to log back in?</h5>

		<div class = "align">
			<a href="/login"><button class="button-primary">Login</button></a>
		</div>
	</div>
</body>
</html>
