<!doctype html>

<html>
<head>
	<title>Instatask</title>	
	{{> headers}}     
</head>

<body>
    

	<div class="container">
		<h1 class = "center">Instastart</h1>

		<div class ="form row">
			<h5>Sign Up</h5>		
			<form action="signup" method="post" >
				<div class = "twelve columns">
				<div class = 'twelve columns'>
			  <input name="name" type="text" placeholder="name"></input>
			    </div>
			  	<div class = 'twelve columns'>
	          <input name="email" type="text" placeholder="email"></input>
	            </div>
	          <div class = 'twelve columns'>
	          <input name="pass" type="password" placeholder="password"></input>
	            </div>
	          <div class = 'twelve columns'>
	          <input name="cpass" type="password" placeholder="confirm password"></input>
	            </div>
	          <div class = 'twelve columns'>
	          	<input type="submit" value="Signup" class = "button-primary"/>
	        </div>
	      </div>
			</form>
		</div>

		<h5>Already have an account?</h5>
		<div class = "align">
			<a href="/login"><button class="button button-primary">Login</button></a>
		</div>
	</div>
</body>
</html>
