<!doctype html>

<html>
<head>
	<title>FRIENDSnFOOD</title>	
	{{> headers}}     
</head>

<body>
    Step 1: Profile Settings
    

    <br>
    <a href="step2">skip</a><input type="submit" value="Continue"></input>
</body>
</html>
