<!doctype html>

<html>
<head>
	<title>FRIENDSnFOOD</title>	
	{{> headers}}     
</head>

<body>
	<a href="step3">back</a><br>
    Step 4: When are you free to eat?
    
    <br>
    <a href="welcome">skip</a><input type="submit" value="Finish"></input>
</body>
</html>
