<!doctype html>

<html>
<head>
	<title>FRIENDSnFOOD</title>	
	{{> headers}}     
</head>

<body>
    Step 2: Where do you like to eat?
    
    <br>
    <a href="step3">skip</a><input type="submit" value="Continue"></input>
</body>
</html>
