<!doctype html>

<html>
<head>
	<title>FRIENDSnFOOD</title>	
	{{> headers}}     
</head>

<body>
	<a href="step2">back</a><br>
    Step 3: Add friends
    
    <br>
    <a href="step4">skip</a><input type="submit" value="Continue"></input>
</body>
</html>
