<!doctype html>

<html>
<head>
	<title>FRIENDSnFOOD</title>	
	{{> headers}}     
</head>

<body>

	<div class="container">
		<h1>FRIENDSnFOOD</h1>

		<h4>Here's how this Application works!</h4>
		
		<ul>
		<li>The purpose of this app is to help guide your activities, be it homework or chores, throughout the course of your day. </li>

		<li>
			You’ll be able to create a task, tell us how difficult your task is and how long you think it will take, and Instastart will tell you when in the day you should do it! </li>

			<li>
			You will also have the option to attach a category, such as COGS 120, and location to your tasks. Then at any time, you’ll be able to filter out any tasks that aren’t part of COGS 120, or even filter out tasks that take longer than 2 hours, based on your preferences at that time. </li>

		
		<li>
			This is so you’ll always be able to see only the stuff you want, when you want it.</p></li>

		</ul>
		<div class = "align">
			<a href="/"><button class = "button-primary">Continue</button></a>
		</div>
	</div>
</body>
</html>
