@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic);

html{
	border-top: 1px solid #16a085;
}

h1{
	text-align: center;
	padding-top: 8%;
	font-family: 'Fira Sans', sans-serif;
}

.align{
	text-align: center;
}

.form{
	background-color: rgba(	39, 174, 96,0.9);
	padding-top: 5%;
	text-align: center;
	border-radius: 4px;
	border: 1px solid rgba(	39, 174, 96);
}

.hrs{
	font-size: 10px;
}

h4{font-family: 'Fira Sans', sans-serif;}

.cancel{
	margin-top: -15px;
}