body {
  background-color:#F1EFEA;
  font-size:small;
}

input[type="text"].searchBar {
  border-radius:0px;
  border-right:0px;
  width:100%;
  margin-left:1px;
}

.navBar {
  height:60px;
  background-color:white;
  -webkit-box-shadow: 0 0 7px #D0D0D0;
  box-shadow: 0 0 7px #D0D0D0;
}

#mainArea {
  overflow:scroll;
}

.navIcon {
  height:32px;
  width:32px;
  margin-top:5px;
}

.navBar .cell {
  width:25%;
  border-right:1px solid #EEE;
  text-align: center;
  font-size:x-small;
}

.navBar .cell.active {
  background-color:#F4F4F4;
  font-weight:bold;
}

.addBox {
 
}

.addRow {
  border-bottom:1px solid #CCC;
}

.addRow:hover {
  background-color:#F0F0F0;
}

.addBox button, .addBox button:focus {
  margin-top:3px;
  margin-bottom:3px;
  margin-right:10px;
  margin-left:10px;
  color:#F18D05;
}

.addBox button:hover {
  border-color:#F18D05;
  color:#F18D05;
}

.addBox button:disabled {
  background-color:#F18D05;
  border-color:#F18D05;
  color:white;
}

.addBox button:active {
  border-color:#E17D00;
  color:#E17D00;
}

.addBox img {
  margin-top:3px;
  height:38px;
  width:38px;
  margin-left:10px;
  border-radius:20px;
}

.friendBox {
  border-top:1px solid #CCC;
  border-bottom:1px solid #CCC;
  margin-bottom:10px;
}

.friendBoxTop {
  background-color:#F0F0F0;
  border-bottom:1px solid #CCC;
}

.friendBoxLabel {
  padding-top:30px;
  padding-bottom:30px;
  text-align: center;
  color:#AAA;
}


.pageBar {
  padding-top:5px;
  padding-bottom:5px;
  font-weight:900;
  border-bottom:4px solid #579C20; 
  background-color:#61AE24;
  color:white; 
  width:100%;
}

.pageBar.red {
  background-color:#E54028;
  border-bottom:4px solid #CD3923;
}

.underBar {
  padding-top:5px;
  padding-bottom:5px;
  font-weight:900;
  border-top:4px solid #E9E9E9; 
  background-color:#F0F0F0;
  width:100%;
}

.bullet {
  height:6px;
  width:6px;
  border:1px solid #00A1CB;
  border-radius:4px;
  display:inline-block;
}

.filledBullet {
  background-color:#00A1CB;
}

.toggleCell {
  position: absolute;
    margin-top: 7px;
    margin-left: 10px;
    font-size: large;
}


.logo {
  margin-top:50px;
  width:90%;
}

.top20 {
  margin-top:20px;
}

.width90 {
  width:90%;
}
.width80 {
  width:80%;
}

.width50 {
  width:50%;
}

.width45 {
  width:45%;
}

.width33 {
  width:33%;
}

.width10 {
  width:10%;
}

.offset5 {
  margin-left:5%;
}

.offset10 {
  margin-left:10%;
}

.numberLabel {
  width:50px;height:50px;background-color:#00A1CB;border-radius:25px;font-size:large;color:white;
}

.splashLabel {
  width:80%;color:#00A1CB;font-size:large;
}

h3 {
  color:#E6642D;
}

li {
  font-size:medium;
}

.fnf-field {
  width:90%;
}

button {
  color:white;
}

.fnf-back1 {
  background-color:white;
}

.fnf-button, .fnf-button:focus {
  background-color:#00A1CB;
  border-color:#00A1CB;
  color:white;
}

.fnf-second-button, .fnf-second-button:focus {
  background-color:#616161;
  border-color:#616161;
  color:white;
}

.fnf-button:hover {
  background-color:#0091BB;
  border-color:#0091BB;
  color:white;
}

.fnf-second-button:hover {
  background-color:#535448;
  border-color:#535448;
  color:white;
}

.fnf-button:active {
  background-color:#0081AB;
  border-color:#0081AB;
  color:white;
}

.fnf-second-button:active {
  background-color:#434438;
  border-color:#434438;
  color:white;
}







/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

.project .details {
     overflow: hidden;
}

.project .details .detailsImage {
     width: 200px;
     margin: 10px 10px 10px 0px;
     float: left;
}

body > div.container {
     margin-bottom: 20px;
}

.project-img {
     max-height: 300px;
}

.calendar {
     overflow:scroll;
}









/*
 * File: common.css
 * Date: April 29, 2014
 *
 * Description: This file holds the common css properties that
 *     is similar to bootstrap but less extensive.
 */

/* The position of the element */
/* The position of the element is not relative to the position other dom elements */
.fixed {
  position: fixed;
}

/* The position of the element is relative to the first ancestor element */
.modal {
  position: absolute;
}

/* The position is relative to its static position */
.relative {
  position: relative;
}

/* Has the same position as its parent */
.inherit {
  position: inherit;
}

/* Default position */
.static {
  position: static;
}

.hidden {
  display: none;
}
/* Use when hidden doesn't work */
.hidden.hiddenoverride {
  display: none;
}

.invisible {
  opacity: 0.0;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

/* Table Properties */

/* No spacing */
.condense {
  margin: 0px;
  border-spacing: 0px;
  padding: 0px;
}

.whiteBackground {
  background-color: white;
}

.blackBackground {
  background-color: black;
}

.transparent {
  background-color:transparent;
}

/* prepares the background image to full capacity of the viewing area */
.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.full {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

/* The curviness of the table's borders */
.curve5 {
  border-radius: 5px;
}

.curve10 {
  border-radius: 10px;
}

.topCurve5 {
  border-radius: 5px 5px 0px 0px;
}

.bottomCurve5 {
  border-radius: 0px 0px 5px 5px;
}

/* Padding */
.padd5 {
  padding: 5px;
}

.padd10 {
  padding: 10px;
}

.paddSide5 {
  padding-left: 5px;
  padding-right: 5px;
}

.paddSide10 {
  padding-left: 10px;
  padding-right: 10px;
}

.paddVert5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.paddVert10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.margin5 {
  margin: 5px;
}

.margin10 {
  margin: 10px;
}

.up10 {
  margin-top: 10px;
}

.up5 {
  margin-top: 5px;
}

.down10 {
  margin-bottom: 10px;
}

.down5 {
  margin-bottom: 5px;
}

.right10 {
  margin-right: 10px;
}

.right5 {
  margin-right: 5px;
}

.left10 {
  margin-left: 10px;
}

.left5 {
  margin-left: 5px;
}

.left2p {
  margin-left: 2%;
}

/* Vertical Alignment Arrangement */
.top {
  vertical-align: top;
}

.middle {
  vertical-align: middle;
}

.bottom {
  vertical-align: bottom;
}

/* Horizontal Alignment Arrangement */
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Text Styles */

.smallText {
  font-size: 80%;
}

.normalText {
  font-size: 100%;
}

.bold {
  font-weight: 700;
}

.italics {
  font-style: italic;
}

.invisible {
  opacity: 0;
}

/* Cursor Hover Types */
.clickable:hover {
  cursor: pointer;
}

.unclickable:hover {
  pointer: default;
}

.waitable:hover {
  cursor: wait;
}

.deniable {
  cursor: not-allowed;
}

.unselectable:hover {
  /* No selecting text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectable:hover {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* Shading */

.shaded {
  -webkit-box-shadow: 0 0 5px #E0E0E0;
  box-shadow: 0 0 5px #E0E0E0;
}

.shaded2 {
  -webkit-box-shadow: 0 0 7px #D0D0D0;
  box-shadow: 0 0 7px #D0D0D0;
}

.shadable:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #E0E0E0;
  box-shadow: 0 0 5px #E0E0E0;
}

/* A stronger shade on hover */
.shadable2:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 7px #D0D0D0;
  box-shadow: 0 0 7px #D0D0D0;
}


/* Table Div */
.table {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}

.restrictSelect {
  display:block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.noText {
  font-size:0%;
}


.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 36px; padding: 0; line-height: 36px;
    border: 2px solid #CCCCCC; border-radius: 36px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 36px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 22px;
    border: 2px solid #CCCCCC; border-radius: 36px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #61AE24;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #61AE24;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}

.recentCard {
  border:1px solid #CCC;
  padding:15px;
  width:90%;
  margin-top:5px;
  margin-right:auto;
  margin-left:auto;
  -webkit-box-shadow: 0 0 5px #E0E0E0;
  box-shadow: 0 0 5px #E0E0E0;
}

.recentCardBottom {
  background-color:#F0F0F0;
  border:1px solid #CCC;
  font-size:x-small;
  margin-bottom:5px;
  padding-left:15px;
  padding-right:15px;
  margin-right:auto;
  margin-left:auto;
  border-top:0px;
  width:90%;
  -webkit-box-shadow: 0 0 5px #E0E0E0;
  box-shadow: 0 0 5px #E0E0E0;
  text-align:right;
}

.calx, .calx td, .calx tr, .calx th {
  padding:0px;
  margin:0px;
  width:50px;
}

.tableFirstCol {
  width:50px;
}

.mcal th {
  text-align: center;
  border-right:1px solid #EEE;
  width:20%;
}

.mcal td {
  text-align: center;
  border-right:1px solid #EEE;
  height:20px;
  width:20%;
}

.freeCell {
  background-color:#33A356;
  color:white;
}

td.lockedCell {
  background-color:#EFEFEF;
  border:1px 1px 1px 1px;
  border-left:1px solid #CCC;
  border-color:#CCC;
}
